body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #dfe9f3, #ffffff);
}

h1{
    color: #333;
    margin-top: 25px;
    
}

#head{
    background-color: #4a6fa5;
    color: white;
    padding: 15px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

img{
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

button{
    width: 220px;
    height: 45px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

#b1{
    background-color: #28a745;
}

#b1:hover{
    background-color: #1e7e34;
}

#b2{
    background-color: #007bff;
}

#b2:hover{
    background-color: #0056b3;
}

#b3{
    background-color: #6c757d;
}

#b3:hover{
    background-color: #545b62;
}

/*Register File Css */
form{
    background:white;
    padding:30px;
    border-radius:10px;
    width:350px;
    margin:auto;
    box-shadow:0px 4px 15px rgba(0,0,0,0.2);
}

label{
    font-weight:bold;
    color:#333;
}

#b4{
    background-color: #28a745;
}

#b4:hover{
    background-color: #1e7e34;
}

#b5{
    background-color: #007bff;
}

#b5:hover{
    background-color: #0056b3;
}

#name,
#department{
    height:30px;
    width:220px;
    border:1px solid #ccc;
    border-radius:5px;
    padding-left:8px;
}
